NODE_ENV=production
HOSTNAME=127.0.0.1
PORT={{ node_app_port }}
POSTGRES_HOST={{ postgres_runtime_host }}
POSTGRES_USER={{ postgres_runtime_user }}
POSTGRES_DB={{ postgres_runtime_db }}
POSTGRES_PASSWORD={{ postgres_managed_password }}
{% for key, value in app_env | dictsort %}
{{ key }}={{ value }}
{% endfor %}
